.header-logo {
    border-radius: 30px;
}

.feature-header-img {
    border-radius: 116px;
    width: 209px!important;
}

.main-logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-logo-link .product-name {
    font-size: 32px;
    text-decoration: none;
    border: 0;
    padding-left: 10px;
}


 form {
      display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    align-content: center;
    border: 1px solid #269db9;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    }

form .title {
    float: left;
    border-right: 1px solid #379db8;
    padding: 30px;
    margin-right: 19px;
    font-size: 35px;
}

@media screen and (max-width: 950px) {
   form .title {
    display: none;
   }
}

@media screen and (max-width: 660px) {
    form {
        flex-direction: column;
    }
}

#top-form-container {
    margin-top: 15px;
}

    label {
      margin-right: 10px;
    }

    input[type="text"],
    input[type="password"] {
          padding: 5px;
    width: 200px;
    border-radius: 5px;
    margin-right: 10px;
        font-size: 13px;
    font-weight: normal;
    }

    input[type="submit"] {
      margin-left: 10px;
    }

    .center {
        text-align: center;
    }

    .login-error {
            color: red;
    border: 1px solid black;
    width: 80%;
    display: block;
    text-align: center;
    margin: 10px auto;
    }

    .hidden {
        display: none;
    }

.hero::before {
    background: #141a22!important;
}

.hero-illustration img {
    box-shadow: 6px 5px 0px 2px #151a22;
}