body {
  background-color: #eeebeb !important;
}

.align-left {
  text-align: left!important;
}

span.app-tooltip {
    border: 2px solid #999;
    padding: 0px 5px;
    border-radius: 25px;
    margin: 3px;
    font-weight: bold;
    background-color: #ddd;
}

button span.app-tooltip {
    background: #08245c;
    border: solid 2px #121934;
    padding: 0px 7px;
}

.fade.info.no-snaps-notification.alert.alert-primary.show {
    margin: 30px auto;
}


.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.start-0 {
  left: 0;
}

.start-10 {
  left: 55px;
}


.p-2 {
  padding: 0.5rem;
}

.img-wrapper {
  margin: 5px!important;
  width: 213px;
  height: 213px;
}

.img-wrapper.loading-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #bbb;
}

.img-wrapper.upscaled-photo {
  box-shadow: 3px 3px 5px;
}

.img-wrapper.selected-for-copy {
  border: 3px solid #767dac;
  border-radius: 8px;
}



.img-wrapper:hover .overlay-button {
  opacity: 1!important;
  transition: opacity 0.2s ease-in-out;
}

.dropdown-toggle::after {
  content: ""!important;
  display: none !important;
}
.dropdown-menu {
  left: -115px !important;
}

.dropdown-menu a {
  color: #3b2f2f !important;
}

.form-control.form-check {
  border:0;
}

label {
  font-size: 12px;
}

.container {
  background: #f5efef;
  box-shadow: 0px 7px 14px 3px;
  padding-top: 16px;
  border-radius: 0px 0px 10px 10px;
}

main {
  background: #eeebeb;
}

.container.login-box ,
.container.signup-box {
  width: 25%;
  padding: 10px;
  min-width: 300px;
}
.container.login-box form,
.container.signup-box form{
  padding: 10px;
}
.container.login-box h1,
.container.signup-box h1{
  text-align: center;
}

.container.login-box .login-form-sign-up,
.container.signup-box .login-form-sign-up {
  margin-left: 5px;
  font-size: 10px;
}

.container.login-box .main-logo,
.container.signup-box .main-logo {
  width: 114px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  font-style: italic;
}

.header-logo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid #309ebb;
  align-items: center;
  margin-right: 3px;
  display: flex;
}

.navbar-brand {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-brand .motto {
  font-size: 10px;
  font-style: italic;
}

.navbar-nav a {
    padding-right: 5px;
    color: #eee;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 !important;
  margin-bottom: 20px;
}

.current-page {
  background-color: #ccc;
}

.footer {
  margin-top: auto;
}

.footer ul.social-links {
    list-style: none;
    padding: 12px;
    margin-left: 20px;
    float:left;
}
.footer .social-links li a {
    color: white;
    margin-left: 3px;
    vertical-align: middle;
}

.your-product-box,
.sample-product-box {
  padding: 10px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.sample-product-box .no-image-selected {
  text-align: center;
}

.sample-product-box img {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:disabled::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}
.original-product-gallery {
  display: flex;
  padding: 10px;
  border: 1px dashed;
  margin: 5px;
  justify-content:center;
}

.product-preview-photo-wrapper {
  max-width: 100px;
  border: 2px dotted #c8bebe;
  padding: 5px;
  background: #fff;
  margin-left: 5px;
}

img.product-preview-photo {
  max-width: 100%;
}

.new-product-error-msg {
  padding: 20px;
  color: #d33f3f;
  border: 3px solid #b88989;
  background: #f5e3e6;
}

/* product generator */

.product-list-container {
 border-top: 1px solid #ffc173; 
 padding-top: 10px;
 padding-bottom: 20px;
}

.product-list {
  padding-left: 0px;
}

.product-list li {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.product-list li.odd {
  background-color: #cfdcdf;
}
.product-list li.even{
  background-color: #f3f3f3;
}



.product-list .product-name {
    max-width: 100px;
    /* vertical-align: middle; */
}
.product-list .product-name .text{
  display: block;
  text-align: center;
}

.product-photos img {
    max-width: 50px;
        margin: 10px;
    box-shadow: 5px 5px 2px #7f7c7c;
}

.product-status span {
    padding: 2px 10px;
    border-radius: 40px;
    font-weight: bold;
    margin: 5px;
}

.product-status.training span{
  background-color: rgb(232, 199, 78);
}
.product-status.failed span{
  background-color: rgb(205, 75, 20);
  color: white;
}
.product-status.succeeded span {
  background-color: rgb(46, 156, 66);
  color: white;
}


.container.generator {
  padding-bottom: 40px;
}

/* pricing page*/
.pricing-page.container {
  padding-bottom: 30px;
}
.price-tag {
  text-align: center;
  font-weight: bold;
}

.pricing-page h1 {
  text-align: center;
  margin-bottom: 20px;
}
.pricing-page .centered {
  text-align: center;
}

.pricing-page .feature-list {
  padding: 5px
}

.pricing-page .recommended.card {
    border-radius: 6px;
    border: 3px solid #009dbc;
    box-shadow: 3px 3px 6px 1px black;
}

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


/* CSS */
.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}




/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}



/* CSS */
.button-20 {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

a.pricing-button:hover {
  text-decoration: none;
}

.plan-name {
  font-weight: bold;
  font-style: italic;
}


/* quill mention*/
.ql-mention-list-container {
  width: 270px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}

.ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.ql-mention-list-item.disabled {
  cursor: auto;
}

.ql-mention-list-item.selected {
  background-color: #d3e1eb;
  text-decoration: none;
}

.mention {
  height: 24px;
  width: 65px;
  border-radius: 6px;
  background-color: #d3e1eb;
  padding: 3px 0;
  margin-right: 2px;
  user-select: all;
}

.mention > span {
  margin: 0 3px;
}

.quill {
  height: 150px;
  background-color: white;
}


.generation-cost {
    display: block;
    font-size: 11px;
    text-align: right;
}

.generation-cost .costs {
  font-weight: bold;
}

.credits-indicator {
    font-size: 14px;
    float: right;
}

.credits-indicator .credits {
  font-weight: bold ;
}

.pill.upscaled-pill {
    background-color: green;
    display: inline;
    padding: 3px 10px;
    border-radius: 10px;
    float: right;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
}

.pricing-page .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    font-size: 21px;
    background: #343a40 !important;
    color: white;
    border-bottom: 3px solid #009dbc;
}

.pricing-page button,
.pricing-page a 
 {
  margin: 0 auto;
  display: block;
}

/** pricing switch **/
.react-switch-bg {
  background-color:  #343a40 !important;
}

.ph-button {
  /*float:right;*/
  margin: 10px;
}