.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.start-0 {
  left: 0;
}

.p-2 {
  padding: 0.5rem;
}

.img-wrapper {
  margin: 5px!important;
  width: 213px;
  height: 213px;
}

.img-wrapper.loading-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #bbb;
}

.img-wrapper.upscaled-photo {
  box-shadow: 3px 3px 5px;
}

.img-wrapper:hover .overlay-button {
  opacity: 1!important;
  transition: opacity 0.2s ease-in-out;
}

.dropdown-toggle::after {
  content: ""!important;
  display: none !important;
}
.dropdown-menu {
  left: -115px !important;
}

.form-control.form-check {
  border:0;
}

label {
  font-size: 12px;
}

.container {
  background: #f5efef;
  box-shadow: 0px 7px 14px 3px;
  padding-top: 16px;
}

main {
  background: #eeebeb;
}

.container.login-box ,
.container.signup-box {
  width: 25%;
}
.container.login-box form,
.container.signup-box form{
  padding: 10px;
}
.container.login-box h1,
.container.signup-box h1{
  text-align: center;
}

.container.login-box .login-form-sign-up,
.container.signup-box .login-form-sign-up {
  margin-left: 5px;
  font-size: 10px;
}

.container.login-box .main-logo,
.container.signup-box .main-logo {
  width: 114px;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  font-style: italic;
}

.header-logo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 3px solid #309ebb;
  align-items: center;
  margin-right: 3px;
  display: flex;
}

.navbar-brand {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-brand .motto {
  font-size: 10px;
  font-style: italic;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 !important;
}

.footer {
  margin-top: auto;
}

.your-product-box {
  padding: 10px;
  border: 2px dashed #bbb;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

